{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}
<!--♕-->


<div class="layout page">
    <div class="layout__col-1">
        <div class="page__cnt">
            <h1>О нас </h1>
            <div class="content">
                <p>
	                Сегодня ООО «Мир-продукт – ПЕРВАЯ СТОЛИЦА» – одно из лучших 
                предприятий по производству колбасных изделий и деликатесов Украины. Сочетая
                традиции и инновации мы разрабатываем и выпускаем здоровую и качественную
                продукцию.</p>
                <p>
	                Мы с уверенностью смотрим в будущее и реализуем поставленные перед нами 
                    задачи. Команда ООО «Мир-продукт – ПЕРВАЯ СТОЛИЦА» совершенствует 
                    свой бизнес и в дальнейшем собирается направлять все усилия на улучшение качества
                    продукции, расширение производства собственного высококачественного мясосырья,
                    повышение эффективности труда, продаж, совершенствование всех бизнес процессов и
                    развития национального бренда.
</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
