{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}
<!--♕-->

<center><address>
    <p><strong><p style= "color: blue; font-size: 24px; margin-left: 10px">Псков</p></strong><br />
            <strong>Адрес:</strong> 180004, ул.рижский д.16,
                2-й этаж, оф. 189А<br />
            <strong>Телефон/факс:</strong> +7(900) 000-00-00<br />
            <strong>Сайт:</strong> www.Bamiyan weavers. com<br />
            <strong>E-mail:</strong> Pskov@Bamiyanwavers.com<br />
            <strong>График работы:</strong></br>
            понедельник-пятница с 10:00 до 18:00</br>
            субботта и воскрисения: выходны<br /><br />
    
            
            <strong>Viber -</strong> <a href="https://www.viber.com/">https://www.viber.com</a><br />
            <strong>WhatsApp -</strong> <a href="https://www.whatsapp.com/">https://www.whatsapp.com</a><br />
            <strong>Instagram -</strong> <a href="https://www.instagram.com/">https://www.instagram.com</a><br /></p>
    </div>
</address></center>

<center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2125.064037154236!2d28.31239431601163!3d57.81723198115557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46c01ecfd15e61ed%3A0xf117cead20dfc643!2sPizhskiy%20Prospekt%2C%2016%2C%20Pskov%2C%20Pskovskaya%20oblast&#39;%2C%20180007!5e0!3m2!1sen!2sru!4v1577647848314!5m2!1sen!2sru" width="640" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe> 
</center> <br />
{% endblock %}
