{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}
<!--♕-->
<div class="jumbotron">
    <img src="{% static 'app/images/main pic.jpg' %}"  alt="mainpics>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Деликтесы</h2>
        <p>
           Рулеты, ветчины, окорочка, крылышки, буженина.
        </p>
        <p><a class="btn btn-default" href="#">Больше узнать &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Колбасы вареные</h2>
        <p>Колбасы вареные, сосиски и сардельки.</p>
        <p><a class="btn btn-default" href="#">Больше узнать &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Колбаса сырокопченая и сыровяленая</h2>
        <p>Сырокопченая, сыровяленая продукция.</p>
        <p><a class="btn btn-default" href="#">Больше узнать &raquo;</a></p>
    </div>
   
</div>
<div>
     <div class="home-company">
        <h1>ООО «Мир-продукт мясокомбинат – Первая столица»</h1>
        <div class="home-company__col home-company__col_b">
            <p>ООО «Мир-продукт – ПЕРВАЯ СТОЛИЦА» был основан в 2020 году. </p>
            <p>Наше предприятие выпускает более 150 наименований продукции из мясного сырья. 
            Основную долю общего объема продаж составляют: колбасные изделия, деликатесы. 
            Все специи и приправы, используемые в производстве ООО «Мир-продукт – 
            ПЕРВАЯ СТОЛИЦА», закупаются у проверенных и надежных поставщиков. Использование
            различных натуральных специй позволяет предприятию выпускать большой ассортимент 
            продукции на любой вкус.</p>
            <p>На сегодняшний день основной стратегией ООО «Мир-продукт – ПЕРВАЯ
            СТОЛИЦА» является развитие производственной базы, расширение дистрибуции и повышение
            роли маркетинга в политике предприятия. Ключевая цель, на которую ориентированы все 
            сотрудники ООО «Мир-продукт – ПЕРВАЯ СТОЛИЦА» - это доверие потребителей
            , поэтому выпуская продукцию, особое внимание уделяется соответствию стандартам качества,
            потребностям рынка и целевой аудитории. ООО «Мир-продукт – ПЕРВАЯ СТОЛИЦА»
            обеспечивает своих покупателей натуральной, вкусной, а главное качественной продукцией.</p>

        </div>

        <div class="home-company__col">
            <p>Сегодня ООО «Мир-продукт – ПЕРВАЯ СТОЛИЦА» – это современное
            предприятие, оснащенное самым современным оборудованием ведущих европейских
            производителей. </p>
            <p>В 2009 году разработаны, внедрены и сертифицированы системы управления 
            качеством и безопасностью пищевых продуктов, согласно международных
            стандартов ISO 9001:2008 и ISO 22000:2005. Внедрение системы ХАССП 
            является лучшей гарантией соответствия наших продуктов не только 
            украинским, но и европейским стандартам качества, что позволяет
            нам эффективно контролировать их качество на всех этапах 
            производства. Для этого на предприятии ежедневно 
            осуществляет жесткий контроль за качеством входного сырья
            и готовой продукции. Каждая партия продукции подвергается
            строгому лабораторному анализу. Ведь для нас забота 
            о качестве и безопасности продукции – одна из
            самых приоритетных задач.</p>
            <p>Сегодня мы с уверенностью смотрим в будущее. 
            У нас хорошие перспективы и далеко идущие планы:
            увеличение объемов реализации, повышение эффективности труда,
            ввод новых мощностей, расширение ассортиментной линии, открытие 
            новых фирменных магазинов.</p>

        </div>
      
    </div>
</div>
 <div class="partner">
       <hr/>
        <div class="partners">
             <a  href="https://pskovmasoprom.ru/">
              <img src="{% static 'app/images/psk.png' %}" width="100" height="40" alt="coral logo">
            </a>
            <a  href="https://magnit-info.ru/">
              <img src="{% static 'app/images/Magnit_logo.png' %}" width="100" height="40" alt="tui logo">
            </a>
            <a  href="https://dixy.ru/">
              <img src="{% static 'app/images/dixi.png' %}" width="100" height="40" alt="coral logo">
            </a>
            <a  href="https://5ka.ru/">
              <img src="{% static 'app/images/pyt.png' %}" width="100" height="40" alt="tui logo">
            </a>
            <a  href="https://www.perekrestok.ru/">
              <img src="{% static 'app/images/pri.png' %}" width="100" height="40" alt="coral logo">
            </a>
          
        </div>
    </div>
{% endblock %}
